node_modules/
public/
.DS_Store
notes/
wp-config.php
vendor/
wp/
content/themes/twentyseventeen
content/plugins/contact-form-7/
content/plugins/ultimate-member/
content/plugins/woocommerce/
content/plugins/advanced-custom-fields/
content/plugins/fyj-ebook/
content/plugins/what-the-file/
content/plugins/simply-show-hooks/
content/uploads
content/upgrade
content/debug.log
content/languages/plugins/
