/*********************
A Propos
*********************/

.main_propos{
	@include breakpoint(laptop){
		width:1400px;
		margin: 0 auto;
	}
}

.p_lo {
	@include breakpoint(laptop){
	color: $color_title;
}
}

.uppercase_bold {

	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 1em 1em 1em 0;
	@include breakpoint(laptop){
	padding: 1em 1em 1em 0;
	color: $color_typo;

	}
}

.uppercase_bold_us {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	padding: 1em 1em 1em 0;
	color: $color_profil_title;
}

.cont_img {
	max-width: 100%;
	max-height: 100%;
	@include breakpoint(laptop){
		position: relative;
		height:900px;
		width: 100%;

	}
}
.section_post_wrap{
	@include breakpoint(laptop){
		// display: flex;
		// flex-wrap: wrap;
		// align-items: stretch;
		// height:900px;
		position: absolute;
		top: 0;


	}
}

.uppercase_white {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	color: white;

}

.section_propos_post{
	@include breakpoint(laptop){
		display: flex;

	}
}
.reflex{
	background-color: $color_gray;
padding: 1em 1em 1em 0;
margin-bottom: 1em;
@include breakpoint(laptop){
width: 60%;


// position: absolute;
// top: 0px;

}
}

.reflex_two {
	background-color: $color_gray;
padding: 1em 1em 1em 0;
margin: 0;
@include breakpoint(laptop){
width: 60%;
height: 255px;

//position: absolute;
//bottom: 770px;
}
}

.formation_apropos_right{
	background-color: $color_blue;
	padding: 1em 0 0 1em;
	margin-bottom: 1em;
	@include breakpoint(laptop){
	width: 60%;
	height: 255px;
	order: 4;




	// position: absolute;
	// top: 310px;
	// left: 560px;
	}
}
.reflex_text_right{
	width: 90%;
	margin: 0 auto;
	@include breakpoint(laptop){
		width: 560px;
		height: 255px;
		color: white;
		background-color: $color_blue;
		text-align: center;


		// position: absolute;
		// top: 0px;
		// left: 840px;
	}
}
.section_propos_post{
	margin-top:0;
	margin-bottom:52px;

}

.forma_img{
@include breakpoint(laptop){
	width:82%;
	margin-left: 9.3em;
}
}

.reflex_text_right_two{
	width: 90%;
	margin: 0 auto;
	@include breakpoint(laptop){
		width: 40%;
		height: 255px;
		color: white;
		background-color: $color_blue;
		text-align: center;
	}
}
.forma_text_left {
	width: 90%;
	margin: 0 auto;
@include breakpoint(laptop){
width: 40%;
height: 255px;
background-color: $color_gray;
text-align: center;
order: 3;
}
}

.uppercase_sousligne {
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;
	text-decoration: underline;
	margin: 2em;
}

.team {
	font-size: 1em;
	position: relative;
	padding: 1em;
}


.titre, .titre2, .titre3, .titre4{
	color: black;


	font-size: 1.5em;
}

.description {
	// width: 40%;

}

.pres_one {
	position: absolute;
	top:10.5em;
	left:8em;
// background-color:red;
width: 3em;
@include breakpoint(tablet){
	top: 10.5em;
	left: 18em;;
	@include breakpoint(laptop){
			top: 180px;
			left: 80px;
			font-size: 21px;
			width: 60%;
		}
}
}

.pres_two {
	position: absolute;
	top: 17em;
	left: 19em;
	width: 3em;
	@include breakpoint(tablet){
		top: 24em;
		left: 35em;
		@include breakpoint(laptop){
			top: 520px;
			left: 700px;
			font-size: 21px;
			width: 60%;

			}

	}
}

.pres_three {
	position: absolute;
	bottom: 4em;
	right: 10.8em;

	width: 3em;
	@include breakpoint(tablet){
		bottom: 120px;
		right: 230px;
		@include breakpoint(laptop){
			bottom: 100px;
			right: 50px;
			font-size: 21px;
			width: 60%;

			}
	}
}

.pres_four {
	position: absolute;
	bottom: 10em;
	left: 3em;
	width: 3em;
	@include breakpoint(tablet){
		bottom: 300px;
		left: 120px;
	@include breakpoint(laptop){
		bottom: 460px;
		left: -150px;
		font-size: 21px;
		width: 60%;
		}
	}
}
p{
	margin:0;
}
.team{
	width: 100%;
	text-align: center;
}
.description{
	display:none;
	@include breakpoint(laptop){

	}
	@include breakpoint(laptop){
		display: inherit;
	}
}
.team_svg{
	margin: 10px 10px 10px 5px;
	@include breakpoint(tablet){
		width: 750px;
	}
	@include breakpoint(laptop){
		width:1300px;
	}
}

.section_propos {
@include breakpoint(laptop){
position: relative;
}
}

.partenariat {
	display: flex;
	justify-content: space-around;
	margin: 2em;
	@include breakpoint(laptop){

	}
}

.partenariat img {
	height: 35px;
	@include breakpoint(phablet){
		height: 50px;
	}
	@include breakpoint(laptop){
		height: 100px;
		margin: 2em;
	}
}

.ligne_black{
	width: 100%;
	background-color: black;
	height: 2em;
	margin: 2em;

}
