/*********************
page actu
*********************/
.img_header{

  height: auto;

}



.post_wrap{

  @include breakpoint(laptop){
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
    margin-top: 2em;
		tr:nth-child(2n) {
		margin: 20em;
		}

  }
}
.section_post_only_img{
  @include breakpoint(laptop){
    width: 20em;
    margin-bottom: 0;

  }

}
.post_wrap_content{
  @include breakpoint(laptop){
    font-size: 0.8em;
    padding-left: 2.5em;
    // height: 200px;

  }
}
.post_title{
  @include breakpoint(laptop){
    padding: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
  }
}
.post_content{
  @include breakpoint(laptop){

  }
}
.button_lls{
  background-color: $color_blue;
  color: $color_typo;
  margin-top: 1.4em;
}

.back_blue{
    @include breakpoint(laptop){
      height: 5px;
      background-color: $color_blue;
      width: 100%;

    }
}


.content_reverse{
    @include breakpoint(laptop){
      padding-left: 0;
      padding-right: 2.5em;

    }
}

.pag_actu{
  margin-top: 2em;
}

.section_aside_logo{
  animation-duration: 5s;
}
