/*********************
Profil
*********************/

// CSS fond de chaque titre
.background_brown{
  max-width: 100%;
  height: 25px;
  background-color: $color_gray;

  margin-bottom: 2em;
}

.profil_title_div{
  color: $color_typo;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 0.5em;
  padding-left: 2em;
}

.main_profil{
   margin: 0 auto;
   background-color: rgba(73, 128, 191, 0.5);

   color: $color_gray;
   @include breakpoint(laptop){
     width: 1400px;

   }
 }

.wrap_content{
  @include breakpoint(laptop){
    display: flex;
  }
}
.gauche{
  @include breakpoint(laptop){
    width: 70%;

  }
}
.droite{
  @include breakpoint(laptop){
    width: 30%;

  }
}


.brown{
  margin: 2em 0 2em 0;
}
 // CSS Identifiants

 .wrap_iden{
   margin-left: 2em;
   @include breakpoint(tablet){
     display: flex;
   }
 }

 .wrap_label{
   @include breakpoint(tablet){
     margin: 1em 5em 5em 5em;
  }
 }

 .wrap_info_perso{
    margin-left: 2em;
   // max-width: 100%;
   // margin: 0 auto;
  @include breakpoint(tablet){
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
   }

 }

 .wrap_logo {
   font-size: 7em;
   text-align: center;
   height: 100px;
 }

 .wrap_logo i{
   transform: translateY(-50%);

 }

.wrap_info_milieu{
  margin: 0;
}

.test{
  width: 250px;
}
.radio input{
width: 40px;
}

// CSS Information société

.wrap_info_societe{
  margin-left: 2em;

@include breakpoint(tablet){
    display: flex;
    justify-content: space-between;
}
@include breakpoint(laptop){
  display: flex;
  justify-content: space-around;
 }

}

// CSS Coordonées

.wrap_info_coordonees {
  margin-left: 2em;
}

.checkbox_profil {
    display: flex;
    padding-bottom: 2em;
    padding-top: 5em;
}

.button_envoyer_profil{
    background-color: $color_gray;
    padding: 1em;
    margin: 3em;
    color: $color_typo;
}

.button_links_profil{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 5em;
@include breakpoint(laptop){
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: auto;
}
}

.button_profil {
  background-color: #F4F1F5;
  margin-bottom: 2em;
}

.button_coordonees{
  @include breakpoint(laptop){
    display: flex;
    flex-direction: column;
  }
}

.input_custom_coordonnees{
  @include breakpoint(laptop){
    width: 99%;
  }
  @include breakpoint(tablet){
    width: 99%;
  }
}

.button_send_profil {
  @include breakpoint(tablet) {
  display: flex;
  flex-direction: row-reverse;
}
}




//
// .identifiants {
//   width: 100%;
// }
// .input_profil_identifiants {
//   width: 50%;
// }
//
//
// .profil_identifiants {
//    text-transform: uppercase;
//    background-color: $color_gray;
//    color: $color_title;
//    padding-left: 3%;
//    padding-top: 2%;
//    font-size: 19px;
//      @include breakpoint(tablet){
//    }
//  }
//
// .profil_information_personnelles {
//     text-transform: uppercase;
//     background-color: $color_gray;
//     color: $color_title;
//     padding-left: 3%;
//     padding-top: 2%;
//     font-size: 19px;
// }
//
// .loggins {
//   display: inline-block;
//   @include breakpoint(desktop) {
//    padding-left: 10%;
//    color: #000;
//  }
// }
//
// .profil_pw {
//     padding-top: 4%;
//   @include breakpoint(desktop) {
//     display: grid;
//  }
// }
//
// .profil_mail {
//   @include breakpoint(desktop){
//   display: grid;
//  }
// }
//
// .input_profil {
//   @include breakpoint(desktop){
//      padding-top: 5%;
//   }
// }
//
// .asterix {
//   color: red;
//   font-size: 15px;
// }
//
//
// .input_custom {
//   width: 40%;
//     @include breakpoint(tablet){
//       width: 30%;
//     }
//     @include breakpoint(laptop){
//       width: 70%;
//     }
// }
//
//
//
// // CSS CONCERNANT LA DIV INFORMATION PERSOONNELLES
//
//
// // CSS CONCERNANT LA DIV INFORMATION SOCIETE
//
// .profil_information_societe {
//     text-transform: uppercase;
//     background-color: $color_gray;
//     color: $color_title;
//     padding-left: 3%;
//     padding-top: 2%;
//     font-size: 19px;
// }
//
//
//
// .information_societe {
//     display: flex;
//     flex-direction: column;
//     padding-bottom: 2%;
//     padding: 2%;
// }
// // CSS CONCERNANT LA DIV COORDONEES
//
// .profil_coordonees {
//     text-transform: uppercase;
//     background-color: $color_gray;
//     color: $color_title;
//     padding-left: 3%;
//     padding-top: 2%;
//     font-size: 19px;
// }
//
// .button_coordonees {
//     display: flex;
//     flex-direction: column;
//         padding: 2%;
// }
//
// .checkbox_profil {
//       padding-top: 5%;
// }
//
// .button_envoyer_profil {
//     padding: 4%;
//     margin-left: 60%;
//     background-color: $color_gray;
//     color: white;
// }
//
// .button_links_profil {
//     padding: 3%;
//     margin-top: 5%;
// }
