.main_progress{

	@include breakpoint(laptop){
		width:1400px;
		margin: 0 auto;

	}
}

.progress-div{

	background-color: $color_blue;
	height: 60px;
}

.progress_form {
	font-size:19px;
text-align: center;
color: $color_title;
text-transform: uppercase;
font-weight: 600;
@include breakpoint(laptop){
	width: 75%;
	text-align: center;
}

}
//.border{
	//color:$color_title !important;
	//text-transform: uppercase;
	//border: 1px solid $color_gray;
	//background-color: $color_gray;

.form_h3 {
	font-size: 19px;
	text-transform: uppercase;
	color: $color_profil_title;
	text-align: center;
	margin: 1em;
}

.vid {
	text-align: center;
}

.progress_shema {

	padding: 25px;
	margin: 25px;
}

.ip_progress{
	text-transform: uppercase;
	color: $color_title;
	background-color: $color_gray;
	border: 5px solid $color_gray;
	display: none;
	@include breakpoint(tablet) {
		display: inherit;



	}
}

.progress {
	margin: 25px;
}


.trait{
	background-color: $color_gray;
	width: 3px;
	height: 70px;

}
// .wrap_trait{
// 	display: flex;
// 	justify-content: space-around;
// }
.ip_progress_number{

	display: none;
	@include breakpoint(tablet) {
		width: 40px;
		height: 40px;
  display: inherit;
	color: $color_title;
	background-color: $color_gray;
	border-radius: 50%;
}
}
.ip_progress_number span{
	display: none;
	@include breakpoint(tablet) {
	display: inherit;
	transform: translateX(140%);

}
}
.span_number{
	display: none;
	@include breakpoint(tablet) {
	transform: translateX(270%)!important;
	display: inherit;
}
}
.form_numbers{
	display: none;
	@include breakpoint(tablet) {
display: inherit;
	display: flex;
	justify-content: space-around;
}
}

.return{
	margin: 30px;
	text-align: center;

}

.loupe_img {
	margin: 15px;
}
