/*********************
progression
*********************/
.main_progress{

	@include breakpoint(laptop){
		width:1400px;
		margin: 0 auto;

	}
}

.progress-div{
height: 60px;
background-color: $color_blue;
@include breakpoint(laptop){
	background-color: white;

}

}

.progress_form {
	font-size:19px;
text-align: center;
color: $color_typo;
text-transform: uppercase;
font-weight: 600;
padding: 10px;
margin: -20px;
@include breakpoint(tablet){
	margin: 0;
}
@include breakpoint(laptop){
	padding: 1em;
	color: $color_blue;
	text-align: center;
	font-weight: 700;
	font-size: 28px;
}

}
//.border{
	//color:$color_title !important;
	//text-transform: uppercase;
	//border: 1px solid $color_gray;
	//background-color: $color_gray;

.form_h3 {
	font-size: 19px;
	text-transform: uppercase;
	color: $color_profil_title;
	text-align: center;
	margin: 1em;
	text-decoration: underline;
}

.form_hh {
	color: $color_profil_title;
	text-decoration: underline;
	text-transform: uppercase;
	margin: 1em;
}
.vid {
	text-align: center;
}

.progress_shema {

	padding: 25px;
	margin: 25px;
}

.ip_progress{
	text-transform: uppercase;
	color: $color_title;
	background-color: $color_gray;
	border: 5px solid $color_gray;
	display: none;
	@include breakpoint(tablet) {
		display: inherit;



	}
}

.progress {
	margin: 25px;
}


.trait{
	background-color: $color_gray;
	width: 3px;
	height: 70px;

}
 .wrap_trait{
	display: flex;
justify-content: space-around;

}

.form_numbers{
	display: flex;
	justify-content:space-around;
}

.lol {

	display: none;
	@include breakpoint(tablet) {
		display: inherit;
		width: 50px;
height: 50px;
background-color: $color_gray;
border-radius: 100%;
color: $color_typo;
justify-content: space-around;

}
}

.lil{
text-align: center;
padding: 25%;

}
//.ip_progress_number span{
	//display: none;
	//@include breakpoint(tablet) {
	//display: inherit;
.return{
	margin: 30px;
	text-align: center;

}

.loupe_img {
	margin: 15px;
}
