
// label{
//   margin: 0;
// }
.wrap{
width: 100%;
margin: 0 auto;
@include breakpoint(laptop){
  width: 1400px;
  display: grid;
  // align-items: center;
}

}
.one{
  @include breakpoint(laptop){
    grid-column: 1;

  }

}
.two{
  @include breakpoint(laptop){
    grid-column: 2;


  }

}
.three{
  @include breakpoint(laptop){
    grid-column: 3;

  }

}
.container{
  padding: 0;
  margin-bottom: 5em;
  max-width: 250px;;
  text-align: center;
  text-decoration: underline;
  box-shadow: 0px 10px 10px #aaa;
  border-radius: 15px 15px 0 0;
}

.container_title{
  border-radius: 15px 15px 0 0;
  padding: 1em 0 0.5em 0;
  color: $color_typo;
  background-color: $color_blue;
  text-decoration: underline;

}

.container_title h3{
  font-weight: 400;
  font-size: 1.5em;

}

.container_content{
  padding-top: 2em;
}
.button{
  border-radius: 20px;
  padding: 0.5em 2em 0.5em 2em;
  text-transform: uppercase;
  border: none;
}

.color_back{
  background-color: $color_blue;
  color: $color_typo;


}

.color_h{
  background-color: $color_gray;
}

.but_white{
  margin: 2em 0 2em 0;
  color: $color_blue;
  background-color: $color_typo;
    border-radius: 20px;
    padding: 0.5em 2em 0.5em 2em;
    text-transform: uppercase;
    border: none;

}
