

///////////////////////////// Formulaires ////////////////////

.um-form-field{
  border-radius: 10px !important;
}

.um-button{
  font-size: 1.2em !important;
  border-radius: 10px !important;
}

.um-icon-android-checkbox-outline{
    color: white !important;
}
a.um-link-alt{
  color: $color_typo !important;
}
.um-field-checkbox-option, .um-field-radio-option{
    color: $color_typo !important;
}
.um-field-checkbox active{
color: $color_typo !important;
}


.404{
  width: 100%;
  @include breakpoint(laptop){
    width: 1400px;

  }
}




////////////////////////////////////////////// Newsletters //////////////////////////


.mc4wp-alert{
  text-align: center;
  margin-top: 1em;
}

.mc4wp-form{
  width: 100%;
}
.mc4wp-form mc4wp-form-469{
  width: 100%;
}


///////////////////////////////////WooCommerce///////////////////////////////////


.ajax_add_to_cart{
  background-color: $color_blue;
  border-radius: 5px;
  color:$color_typo;
  text-align: center;
  width: 200px;;
  margin: 0 auto;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: 500;
  margin-top: 1em;
  display: block;
}

.ajax_add_to_cart:hover{
  text-decoration: none;
  color: $color_gray;
}
.woocommerce-Price-amount{
  text-decoration: none;
  // width: 10%;
  // margin: 0 auto;
  color: $color_gray;
  font-weight: 500;
}

.price > span{
  text-decoration: none;
  text-align: center;
  width: 100%;
  // margin-left: 110px;
  display: block;
  padding-bottom: 0.5em;
}
.price:hover{
  text-decoration: none;
}


.woocommerce-loop-product__title{
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.5em;
  font-size: 1.3em;
}

.orderby{
  border: 1px solid $color_blue;
  background-color: $color_blue;
  color: $color_typo;
  font-weight: 500;
  padding: 0.5em 1em 0.5em 1em;

}

.woocommerce-products-header__title{
  text-transform: uppercase;
  color: $color_typo;
  font-weight: 500;

}

.products{
  display: flex;
  flex-wrap: wrap;
  @include breakpoint(tablet){
    width: 1400px;
    // margin-left: 800px;
    // margin: 0 auto;
    // align-items: center;

  }

}
.products li{
  padding: 1em;
  width: 32%;

}
.wp-post-image{
  display: block;
  margin: 0 auto;
}

.flex_ebook{
  width: 1400px;
  margin: 0 auto;
  
}




































//
// .header{
//   @include breakpoint(laptop){
//     width: 1400px;
//
//   }
// }
//
// .wrap_wrap{
//   background-color: $color_blue;
//   color: $color_typo;
//   text-align: center;
//   text-transform: uppercase;
//   font-weight: 500;
//   padding: 1em;
//   font-size: 0.7em;
//   @include breakpoint(tablet){
//     display: flex;
//     justify-content: space-between;
//     font-size: 0.6em;
//   }
//   @include breakpoint(laptop){
//     font-size: 0.7em;
//   }
//
// }
//
// .connect{
//   color: $color_gray;
// }
//
// .header_title_wrap{
//   display: flex;
//   align-items: center;
//   @include breakpoint(laptop){
//
//   }
// }
//
// .header_flex{
//   // width: 50%;
// }
// .header_title{
//   margin: 0;
//   font-size: 1.64em;
//   font-weight: 600;
//   text-transform: uppercase;
//   text-decoration: underline;
//
// }
//
// .nav-link {
//
//   text-align: right;
// }
//
// .header_img{
//   visibility: hidden;
//   opacity: 0;
//   transition: visibility 0s, opacity 0.5s linear;
//   @include breakpoint(tablet){
//     visibility: visible;
//     opacity: 1;
//     margin-top: 3px;
//     width: 60px;
//
//   }
// }
//
// .link_color{
//   color: $color_blue!important;
// }
//
//
// .barre_blue{
//   position: relative;
// }
//
// .barre{
//   width: 100%;
//   height: 25px;
//   background-color: $color_blue;
// }
//
// .color_brown_mid{
//   position: relative;
//   background-color: $color_gray;
//   width:250px;
//   height: 29px;
//   -webkit-transform:perspective(100) rotateX(-40deg);
//   top: -26px;
//   margin: 0 auto;
//   @include breakpoint(tablet){
//     // width: 200px;
//
//   }
// }

//
//
//
//
//
//  @keyframes fadeIn {
//   0% {opacity: 0;}
//   100% {opacity: 1;}
//   }
//  @keyframes fadeOut {
//   0% {opacity: 1;}
//   100% {opacity: 0;}
//   }

// @keyframes zoom {
//   0% {opacity: 0;}
//   100%{opacity: 1;}
//   100% {opacity:0;}
//   0%{opacity:1;}
// }



////////////////////////////////////////////////////////////////////////////////
// Test Ludo Chiffre
////////////////////////////////////////////////////////////////////////////////
// .lol{
//
// width: 50px;
// height: 50px;
// background-color: $color_gray;
// border-radius: 100%;
// color: $color_typo;
// margin-left: 1em;
//
// }
//
// .lil{
// text-align: center;
// padding: 25%;
//
// }

////////////////////////////////////////////////////////////////////////////////
// Page concours
////////////////////////////////////////////////////////////////////////////////
// .mega_wrap{
//   position: relative;
//   background-image: url("/images/choix.jpeg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size:cover;
//
//
//
// }
// .background_blur{
//   background-color: transparentize($color_blue, 0.3);
//   height: 100vh;
//   filter: blur(50px);
// }
//
// .wrap_size{
//   width: 80%;
//   margin: 0 auto;
// }
// .wrap_concour{
//   // visibility: hidden;
//   width: 100%;
//   margin: 0 auto;
//   position: fixed;
//   top:0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   // height: auto;
//   z-index: 10;
//


  // @include breakpoint(laptop){
  //   // padding: 3em 20em 3em 20em;
  //   // width: 1400px;
  // }
// }
//
// .ico{
//   color: $color_typo;
//   float: right;
//   margin: 1em 1em 0 0;
// }
//
// .form_wrap{
//   color: $color_gray;
//   text-align: center;
//   padding-top: 1.5em;
//   @include breakpoint(laptop){
//     width: 50%;
//     margin: 0 auto;
//     z-index: 1000;
//   }
// }
// .form_form{
//   @include breakpoint(tablet){
//
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
//
// }
//
// .input{
//   width: 100%;
//   margin-bottom: 1.5em;
//   border-radius: 5px;
//   box-shadow: unset 3px 0px 0px 0px rgba(0,0,0,0.75);
//   border: 1px solid lightgrey;
//   padding-left: 1em;
//     @include breakpoint(tablet){
//       // width: 80%;
//
//
//       // display: inline-block;
//     }
// }
//
// .form_name{
//     @include breakpoint(tablet){
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//     }
//   }
//
// .form_name input{
//   @include breakpoint(tablet){
//
//     width: 48%;
//   }
// }
// .form_mid{
//   @include breakpoint(tablet){
//     width: 100%
//   }
// }
//
//
// .input:hover {
//   box-shadow: inset 0px 0px 0.5px 0.5px rgba(0,0,0,0.75);
//
// }
// .input:focus {
//   color: $color_blue;
//   border: 1px solid $color_blue;
//
// }
//
//
// .form_img{
//
//   margin: 4em 0 2em 0;
// }
//
// .form_abo{
//   width: 30px;
// }
//
// .form_abo_wrap {
//   text-align: left;
//   margin-bottom: 1em;
// }
// .form_abo_a{
//   text-decoration: none;
//   color: $color_gray;
//
// }
//
//
// .btn_game{
//   margin-top: 2em;
//   background-color: $color_blue;
//   color: $color_typo;
//   font-weight: 500;
// }



////////////////////////////////////////////////////////////////////////////////
// Borne page d'accueil
////////////////////////////////////////////////////////////////////////////////


// label{
//   margin: 0;
// }
// .wrap{
// width: 100%;
// margin: 0 auto;
// @include breakpoint(laptop){
//   width: 1400px;
//   display: grid;
//   // align-items: center;
// }
//
// }
// .one{
//   @include breakpoint(laptop){
//     grid-column: 1;
//
//   }
//
// }
// .two{
//   @include breakpoint(laptop){
//     grid-column: 2;
//
//
//   }
//
// }
// .three{
//   @include breakpoint(laptop){
//     grid-column: 3;
//
//   }
//
// }
// .container{
//   padding: 0;
//   margin-bottom: 5em;
//   max-width: 250px;;
//   text-align: center;
//   text-decoration: underline;
//   box-shadow: 0px 10px 10px #aaa;
//   border-radius: 15px 15px 0 0;
// }
//
// .container_title{
//   border-radius: 15px 15px 0 0;
//   padding: 1em 0 0.5em 0;
//   color: $color_typo;
//   background-color: $color_blue;
//   text-decoration: underline;
//
// }
//
// .container_title h3{
//   font-weight: 400;
//   font-size: 1.5em;
//
// }
//
// .container_content{
//   padding-top: 2em;
// }
// .button{
//   border-radius: 20px;
//   padding: 0.5em 2em 0.5em 2em;
//   text-transform: uppercase;
//   border: none;
// }
//
// .color_back{
//   background-color: $color_blue;
//   color: $color_typo;
//
//
// }
//
// .color_h{
//   background-color: $color_gray;
// }
//
// .but_white{
//   margin: 2em 0 2em 0;
//   color: $color_blue;
//   background-color: $color_typo;
//     border-radius: 20px;
//     padding: 0.5em 2em 0.5em 2em;
//     text-transform: uppercase;
//     border: none;
//
// }


////////////////////////////////////////////////////////////////////////////////
// Test input john
////////////////////////////////////////////////////////////////////////////////
// input{
//   width: 50px;
// }


// .wrap{
//   width: 300px;
//   margin: 0 auto;
// }
