/*********************
BG- formules
*********************/
.radial-gradient {
  z-index:1;
<<<<<<< HEAD
 //  position:fixed;
 //  overflow-y: scroll;
=======
  // position:fixed;
  // overflow-y: scroll;
>>>>>>> 948587fc796ea3468e0fe84e195b14bc6f6c2fc4
margin-top:0;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  /*Fallback if gradeints don't work */
  background: $color_blue;
  background-attachment: scroll;
  /*Linear gradient... */
  background:
    radial-gradient(
     at center, $color_blue, $color_dark_blue
    );
}
section .radial-gradient {
  -webkit-filter : grayscale(100%);
  filter : grayscale(100%);

}
