/*********************
progression
*********************/
// body{
//   position: relative;
// }
// .mega_wrap{
//   position: relative;
//   background-image: url("/images/choix.jpeg");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size:cover;
// }


.wrap_concour{
  visibility: hidden;
  // width: 100%;
  margin: 0 auto;
  position: fixed;
  top:10vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  @include breakpoint(laptop){

    width: 1400px;
  }

  .wrap_size{
    width: 90%;
    margin: 0 auto;
  }
}

body.visible{

  .wrap_concour{
    visibility: visible !important;
  }
  .wrapper{
    filter: blur(15px);
  }
}

.wrapper{
  transition: 0.3s;
}



.ico{
  color: $color_gray;
  float: right;
  margin: 1em 1em 0 0;
  font-size: 2em;
}

.form_wrap{
  color: $color_gray;
  text-align: center;
  padding-top: 1.5em;
  @include breakpoint(laptop){
    width: 50%;
    margin: 0 auto;
    z-index: 1000;
  }
}
.form_form{
  @include breakpoint(tablet){

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.input{
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 5px;
  box-shadow: unset 3px 0px 0px 0px rgba(0,0,0,0.75);
  border: 1px solid lightgrey;
  padding-left: 1em;
    @include breakpoint(tablet){
      // width: 80%;


      // display: inline-block;
    }
}

.form_name{
    @include breakpoint(tablet){
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

.form_name input{
  @include breakpoint(tablet){

    width: 48%;
  }
}
.form_mid{
  @include breakpoint(tablet){
    width: 100%
  }
}


.input:hover {
  box-shadow: inset 0px 0px 0.5px 0.5px rgba(0,0,0,0.75);

}
.input:focus {
  color: $color_blue;
  border: 1px solid $color_blue;

}


.form_img{

  margin: 4em 0 2em 0;
}

.form_abo{
  width: 30px;
}

.form_abo_wrap {
  text-align: left;
  margin-bottom: 1em;
}
.form_abo_a{
  text-decoration: none;
  color: $color_gray;

}


.btn_game{
  margin-top: 2em;
  background-color: $color_blue;
  color: $color_typo;
  font-weight: 500;
}
