/*********************
HEADER
*********************/
.header-container {
  display: row;
  width: 100%;
}
.header_blue{
  background-color: $color_blue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: bold;
  padding-left:1em;
  padding-right: 1em;
}
.dark{
  color: black !important;
}
.title_site{
  font-weight: normal;
  text-transform: uppercase;
}
.title_site_after{
  margin-top: -3em;
}

.title_site_after {
  margin-top: -3em;
  font-weight: 100;
}

header ul li {
 display: inline;
 text-transform: uppercase;
 margin-right: 2em;
}
header ul li a {
 justify-content:flex-end;
 align-items: center;
 text-decoration: none;
 color: $color_blue;
 margin-right: 1em;
}


/*********************
NAVBAR
*********************/
.navbar {
  float: right;
  margin-top: -6em;

}
.navbar li {
   display:inline;
   padding:1em;
}
li  {
   list-style-type: none;
}
.logo {
 margin-left: 5%;
}
nav {
  margin-left: 20em;
}
li a.active {
 color: #000000;
 font-weight: 300;
}
li a:hover {
 color: $color_blue;
}
