/*********************
HEADER
*********************/
header {
display: inline;
margin: 0;
padding: 0;
}
.header_title{
}
.title_site{
  text-transform: uppercase;
  border-bottom: 1px solid rgba(73,128,191,0.31);
  width: 12%;


}
.title_site_after {
  margin-top: -3em;
}
 .title_site_loupe {
   margin-left: 2em;
 }

/*********************
NAVBAR
*********************/
.navbar {
  float: right;
  margin:0;
   padding:0;
}
.navbar li {

   display:inline;
   padding:1em;

}
li  {
   list-style-type: none;
}
