/*********************
Home
*********************/



/*********************
MEDIA
*********************/
.media{
   display: inline-block;
   flex-direction: column;
    width: 100% !important;
    margin: none;
    .media_box{
      display: flex;
      margin-top: 1em;
      color: $color_gray;
      border:none !important;
    }
    .media_title{
      text-align: center;
      text-transform: uppercase;
      font-size:15px;
      font-weight: none !important;
    }
    .card_bg{
      align-content: center;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: $color_blue;
    }
      .search {
        margin-top: 0.5em;
       height: 20px;
    }

}
@include breakpoint(tablet) {
  .media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-self: center;
    width: 100% !important;
    margin: none;
    .element:nth-child(3) {
    align-self: center;
  }
   }
  .media_box{
    display: flex;
    color: $color_gray;
  }
  .card_bg{
    height: 70px !important;
    width: 70px !important;
    border-radius: 50%;
    background-color: $color_blue;
  }
  .search {
    margin-top: 1em !important;
   height: 35px !important;
  }
  .media_title{
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    font-weight: none !important;
  }
  .media_text {
    font-size:15px !important;
    text-align: center;
  }
  }

/*********************
LISTEN
*********************/
 .listen_wrap{

  display: inline-block;
  flex-direction: column;
  width: 100%;
  }
  .listen {
    color: white;
  }
  .listen_wrap{
    position: relative;
    background-color: $color_gray !important;
    .blue{
      height: 15em;
      width: 20em;
      margin :3em 0 3em 2em;
      border-bottom: 17em solid $color_blue ;
        font-weight: none !important;
            @include breakpoint(tablet) {
              margin :2em 0 2em 0;
                width: 50em;
                height: 7em;
                border-bottom: 15em solid $color_blue ;
              border-right:7em solid transparent;
          }
  }
}
  .listen_concour{
    order:2;
    align-content: center;
    text-align: center;
  }
  .listen_concour_title {
    margin-top: 1em;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: none !important;
        @include breakpoint(tablet) {
        font-size: 20px;
      }
    }
    .listen-equip{
      order: 1;
      position: absolute;
    }
    .listen_equip_title {
      font-size: 11px !important;
      text-transform: uppercase;
      font-weight: none !important;
        font-weight: none !important;
            @include breakpoint(tablet) {
            font-size: 15px;
          }
    }

    .listen_equip{
      margin-top:2.5em;
    }



/*********************
FORMULES
*********************/
.formules_title{
  margin-top: 1em;
  font-size:9px;
  color: white;
  background-color: $color_blue;
  text-decoration: underline;
  text-transform:uppercase;
  text-align: center;
  height: 4em;
}
.formules-content-all {
  margin-top: 3em;
  text-align: center;
}
.panel{
  margin-top:3em;
}
.impair{
}
.panel-body li{
  list-style: none;
  text-decoration: underline;
  color:$color_gray;
  text-align: center;
}
.impair_title{
  color: $color_typo;
  background-color: $color_blue;
  text-transform:uppercase;
  text-decoration: underline;
  font-weight: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height:2em;
  font-size: 18px;
 @include breakpoint(tablet) {
   font-size: 21px;
 }
}

.global{
  height: 15em;
-webkit-box-shadow: 2px 3px 45px 9px rgba(39,36,36,0.13);
box-shadow: 2px 3px 45px 9px rgba(39,36,36,0.13);
}
.blue_global{
  background-color: $color_blue;
}
.panel-footer{
  align-content: center;
  margin: 1em auto 3em
}
.pair_title{
  color: $color_typo;
  background-color: $color_gray;
  text-transform:uppercase;
  text-decoration: underline;
  font-weight: none;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  height:2em;
  font-size: 18px;
 @include breakpoint(tablet) {
   font-size: 21px;
 }
}




/*********************
POPULAR
*********************/
.blue_bar{
    background-color: $color_blue;
    width: 100%;
    height:2em;
    margin-top: 6em;
    margin-bottom: 2em;
}
.formule_popular{

  color: $color_gray;
  text-align: center;
}
.popular{

}
.number{
  font-size:20px;
}

.name_popular{
  font-size: 15px;
  text-transform: uppercase;
}
