/*********************
Home
*********************/



/*********************
MEDIA
*********************/
.media{
   display: inline-block;
   flex-direction: column;
    width: 100% !important;
    margin: none;
    .media_box{
      display: flex;
      margin:auto;
      margin-top: 1em;
      color: $color_gray;
      border:none !important;
    }
    .media_title{
      text-align: center;
      text-transform: uppercase;
      font-size:15px;
      font-weight: none !important;
    }
    .card_bg{
      align-content: center;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: $color_blue;
    }
      .search {
        margin-top: 0.5em;
       height: 20px;
    }

}
@include breakpoint(tablet) {
  .media{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-self: center;
    width: 100% !important;
    margin: none;
    .element:nth-child(3) {
    align-self: center;
  }
   }
  .media_box{
    display: flex;
    color: $color_gray;
  }
  .card_bg{
    height: 70px !important;
    width: 70px !important;
    border-radius: 50%;
    background-color: $color_blue;
  }
  .search {
    margin-top: 1em !important;
   height: 35px !important;
  }
  .media_title{
    text-align: center;
    text-transform: uppercase;
    font-size:20px;
    font-weight: none !important;
  }
  .media_text {
    font-size:15px !important;
    text-align: center;
  }
  }

/*********************
LISTEN
*********************/
 .listen_wrap{

  display: inline-block;
  flex-direction: column;
  width: 100%;
  }
  .listen {
    color: white;
  }
  .listen_wrap{
    position: relative;
    background-color: $color_gray !important;
    .blue{
      height: 15em;
      width: 20em;
      margin :3em 0 3em 2em;
      border-bottom: 17em solid $color_blue ;
        font-weight: none !important;
            @include breakpoint(tablet) {
              margin :2em 0 2em 0;
                width: 50em;
                height: 7em;
                border-bottom: 15em solid $color_blue ;
              border-right:7em solid transparent;
          }
            @include breakpoint(laptop) {
              margin :2em 0 2em 0;
                width: 60em;
                height: 7em;
                border-bottom: 15em solid $color_blue ;
              border-right:7em solid transparent;
          }
  }
}
  .listen_concour{
    order:2;
    align-content: center;
    text-align: center;
  }
  .listen_concour_title {
    margin-top: 1em;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: none !important;
        @include breakpoint(tablet) {
        font-size: 20px;
      }
    }
    .listen-equip{
      position: absolute;
    }
    .listen_equip_title {
      font-size: 11px !important;
      text-transform: uppercase;
      font-weight: none !important;
        font-weight: none !important;
            @include breakpoint(tablet) {
            font-size: 15px !important;
          }
            @include breakpoint(laptop) {
            font-size: 18px !important;
          }
    }
  .listen_equip_content{
      @include breakpoint(laptop) {
      font-size: 18px !important;
    }

  }
    .listen_equip{
      margin-top:2.5em;
    }



/*********************
FORMULES
*********************/
.formules{
  align-content: center;
}

.formules_title{
  margin-top: 1em;
  font-size:9px;
  color: white;
  background-color: $color_blue;
  text-decoration: underline;
  text-transform:uppercase;
  text-align: center;
  height: 4em;
}

.formules_prop{
width: 100%;
margin: 0 auto;
position: relative;
  @include breakpoint(laptop){
    width: 1400px;
    display: grid;
    // align-items: center;
  }
}
.one{
  @include breakpoint(laptop){
    grid-column: 1;
  }
}
.two{
  @include breakpoint(laptop){
    grid-column: 2;
  }
}
.three{
  @include breakpoint(laptop){
    grid-column: 3;
  }
}
.formules_all{
  padding: 0;
  margin-top: 3em;
  margin-bottom: 5em;
  max-width: 250px;;
  text-align: center;
  text-decoration: underline;
  box-shadow: 0px 10px 10px #aaa;
  border-radius: 15px 15px 0 0;
}
.formule_title{
  border-radius: 15px 15px 0 0;
  padding: 1em 0 0.5em 0;
  color: $color_typo;
  background-color: $color_blue;
  text-decoration: underline;

}
.formule_title h3{
  font-weight: 400;
  font-size: 1.5em;

}
.formules_content{
  padding-top: 2em;
}
.button{
  border-radius: 20px;
  padding: 0.5em 2em 0.5em 2em;
  text-transform: uppercase;
  border: none;
}

.color_back{
  background-color: $color_blue;
  color: $color_typo;
}

.color_h{
  background-color: $color_gray;
}
.but_white{
  margin: 2em 0 2em 0;
  color: $color_blue;
  background-color: $color_typo;
    border-radius: 20px;
    padding: 0.5em 2em 0.5em 2em;
    text-transform: uppercase;
    border: none;
}

/*********************
POPULAR
*********************/
.blue_bar{
    background-color: $color_blue;
    width: 100%;
    height:2em;
    margin-top: 6em;
    margin-bottom: 2em;
}
.formule_popular{

  color: $color_gray;
  text-align: center;
}
.popular{

}
.number{
  font-size:20px;
}

.name_popular{
  font-size: 15px;
  text-transform: uppercase;
}
