/*********************
Home
*********************/



/*********************
MEDIA
*********************/
.media{
      @include breakpoint(mobileonly) {
       display: inline-block;
       flex-direction: column;
      align-self: center;
      margin: none;
        .media_box{
          display: flex;
          margin-top: 1em;
          color: $color_gray;
          border:none !important;
        }
        .media_title{
          text-align: center;
          text-transform: uppercase;
          font-size:15px;
          font-weight: none !important;
        }
          .card_bg{
              align-content: center;
              height: 35px;
              width: 35px;
              border-radius: 50%;
              background-color: $color_blue;
          }
          .search {
            margin-top: 0.5em;
           height: 20px;
          }

      }

}
@include breakpoint(phablet) {
  .media_box{
    display: flex;
    color: $color_gray;
    margin: 3em 11em;
    border:none !important;
  }
  .card_bg{
      align-content: center;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      background-color: $color_blue;
  }
  .search {
    margin-top: 1em;
   height: 35px;
  }
  .media_title{
    text-align: center;
    text-transform: uppercase;
    font-size:15px;
    font-weight: none !important;
  }
  .media_text {
    font-size:11px !important;
    text-align: center;
  }

  }

/*********************
LISTEN
*********************/
@include breakpoint(mobileonly){
  .listen_wrap{
   display: inline-block;
       flex-direction: column;
  }
  .listen {
    color: white;
           display: inline-block;
           flex-direction: column;


  }
  .listen_wrap{
    position: relative;
    background-color: $color_gray !important;
    .blue{
      height: 15em;
      width: 22em;
      margin-top: 3em;
      margin-left:2em;
      border-bottom: 17em solid $color_blue ;
    }
  }
  .listen_concour{
    align-content: center;
    text-align: center;
  }
  .listen_concour_title {
    margin-top: 1em;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: none !important;
    }
    .listen_equip_title {
      font-size: 11px !important;
      text-transform: uppercase;
      font-weight: none !important;
    }
    .btn-sm {
      font-size: 9px;
    }
    .listen_equip{
      margin-top:2.5em;
    }
}
@include breakpoint(phablet){
  .listen_wrap{
     // display: inline-block;
     //       flex-direction: column;
  }
  .listen {
    color: white;
   display: inline-block;
   flex-direction: column;


  }
  .listen_wrap{
    position: relative;
    background-color: $color_gray !important;
    .blue{
      height: 15em;
      width: 22em;
      margin-top: 3em;
      margin-left:2em;
      border-bottom: 15em solid $color_blue ;
    }
  }
  .listen_concour{
    align-content: center;
    text-align: center;
  }
  .listen_concour_title {
    margin-top: 1em;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: none !important;
    }
    .listen_equip_title {
      font-size: 13px !important;
      text-transform: uppercase;
      font-weight: none !important;
    }
    .btn-sm {
      font-size: 9px;
    }
    .listen_equip{
      margin-top:2.5em;
    }
}

@include breakpoint(laptop) {
.listen_wrap{
  height:20em;
  position: relative;
  background-color: $color_gray !important;

}
.blue{
  height:20em;
  width: 20em;
  margin-top: 6em;
  margin-left:-7.1em;
  border-bottom: 50em solid $color_blue ;
  border-right:7em solid transparent;
}
.listen {
  color: white;
  text-align: center;
}
.listen_concour{

}
.listen-content{

}
.listen_concour_title{
  margin-top: 1em;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
    font-weight: none !important;
  }
  .listen_concour-content{
    font-size: 12px;

  }
}

@include breakpoint(desktop) {
.listen_wrap{
  height:20em;
  position: relative;
  background-color: $color_gray !important;

}
.blue{
  height:40em;
  width: 20em;
  margin-top: 6em;
  margin-left:0em;
  border-bottom:30em solid $color_blue ;
  border-right:7em solid transparent;
}
.listen {
  color: white;
  text-align: center;
}
.listen_concour{

}
.listen-content{

}
.listen_concour_title{
  margin-top: 1em;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: none !important;
  }
}


/*********************
FORMULES
*********************/
.formules{

}
.card{
  border-radius: 60px !important;
}

.formules_title{
  color: white;
  background-color: $color_blue;
  text-decoration: underline;
  text-transform:uppercase;
  text-align: center;
  height: 3em;
}
.formules-content{

}
.basic{
margin-top:3em;
text-align: center;
}
.card-title-basic{
  background-color: $color_blue;
  text-decoration: underline;
  text-transform:uppercase;
  text-align: center;
  color:white;
  font-weight: none !important;
}



/*********************
POPULAR
*********************/
.formule_popular{
  display:flex;
  justify-content: space-around;
  color: $color_gray;
}
.popular{
  text-align: center;
}
.number{

  @include breakpoint(phablet) {
  font-size:45px;
}
  @include breakpoint(mobileonly) {
    font-size:11px;
  }
}
span{
  text-transform: uppercase;
}
