.profil_login {
  border-style: solid;
}

.profil_title {
  background-color: $color_profil_title;
  color: $color_title;
  font-size: 20px;
  text-transform: uppercase;
}

.profil_subtitle {
  font-size: 12px;
}
