/*********************
BASE
*********************/
body{
  font-family: 'Gotham';
  font-weight: normal;
  font-size: 12px;
  color: $color_blue ;


@include breakpoint(tablet) {
		font-size: 14px;
	}

@include breakpoint(phablet) {
		font-size: 16px;
	}
}
