/*********************
TYPO
*********************/


@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Thin.otf');
  font-weight: 100;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-ThinItalic.otf');
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-LightItalic.otf');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Book.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-BookItalic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Medium.otf');
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-MediumItalic.otf');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Bold.otf');
  font-weight: 600;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-BoldItalic.otf');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-Ultra.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham';
  src: url('/fonts/Gotham/Gotham-UltraItalic.otf');
  font-style: italic;
  font-weight: 700;
}
