/*********************
VARIABLES
*********************/
$color_blue: #4980BF;
$color_gray: #272424;
$color_typo: #ffffff;

$color_profil_title: #201818;
$color_title: #FFFFFF;

$background_black: #000;
